# Node / React Dashboard
node_modules/
dist/
.env

# Spring Boot Backend
target/
build/
.gradle/
*.jar
*.war

# Unity VR
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
.consulo/
*.private
*.private.meta

# Hardware (Arduino / PlatformIO)
.pio/
build/
*.bin
*.elf

# IDEs and OS
.vscode/
.idea/
*.DS_Store
Thumbs.db
